#placeholder {}
body {
    background: wheat;
    margin-left: 10%;
}
#starArticles {
    margin-top: 400px;
    background: white; 
    width: 65%;
    height: 400px;
    border: 10px dotted brown;
    margin-left: 12.5%;
    text-align: center;
}
ul li {
    list-style: none;
    margin-right: 25px;
}
.topheader3rd {
    background-color: gray;
    text-align: center;
    width: 33.3%;
    float: left;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: 20px lightgray ridge;
}

.description {
    float: left;
    text-align: center;
    width: 50%;
    margin-top: 40px;
    border: purple ridge 6px;
    box-sizing: border-box;
    padding: 27px;
}
.explanation {
    float: left;
    text-align: center;
    width: 50%;
    margin-top: 40px;
    border: orange ridge 6px;
    box-sizing: border-box;
}
.sidebar {
    background: black;
    padding-right: 3%; 
    top: 40px;
    left: 1% ;
    width: 5%;
    position: absolute;
}
.sidebar a {
    font-style: italic;
    color: orange;
    text-decoration: initial;
}
