#placeholder {}
body {
    background: wheat;
}
.topheader3rd {
    text-align: center;
    width: 33.3%;
    float: left;
    padding: 0;
    list-style: none;
    border: ridge gray 6px;
    box-sizing: border-box;
}
.topheader {
    background-color: gray;
}

.description {
    float: left;
    text-align: center;
    width: 50%;
    margin-top: 40px;
    border: purple ridge 6px;
    box-sizing: border-box;
    padding: 45px;
}
.explanation {
    float: left;
    text-align: center;
    width: 50%;
    margin-top: 40px;
    border: orange ridge 6px;
    box-sizing: border-box;
}
